td {
    vertical-align: middle !important;
}
.responsabilidade-box {
    padding: 10px;
    border-radius: 5px;
    background: #F0F0F0;
}
.areas-de-atuacao-link {
    display: inline-block;
    padding: 8px;
    background: #94D253;
    color: #fff;
    border-radius: 3px;
}
.areas-de-atuacao-subtitulo {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 5px;
    margin: 1em 0 0;
    border-top: 1px solid #000;
}
.areas-de-atuacao-subtitulo:first-child {
    border: none;
    margin-top: 0;
    padding-top: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1em 0;
}
