a
    text-decoration none
    color inherit
    transition color .3s

p
    line-height 1.5
    opensans 14
    color $azul

ul
    opensans 14
    color $azul
    padding 0
    line-height 1.5
    list-style-type none
    li
        padding-left 1em
        position relative
        &:before
            content '\00b7'
            position absolute
            left 0
            top -.25em
            font-size 1.5em

h1
h2
    text-transform uppercase
    color $cinzaClaro
    margin 1em 0 .5em
    &:first-child
        margin-top 0

h1
    anotherHand 32

h2
    anotherHand 24
