desktop-base-width     = 1100px
rupture.desktop-cutoff = $tablet = 1140px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$azul = #092471
$cinzaClaro  = #999999
$cinzaEscuro = #666666

@import 'https://fonts.googleapis.com/css?family=Amatica+SC:700|Just+Another+Hand|Open+Sans:400,400i,700,700i';

amatica(size)
    font-size size + 0px
    font-family 'Amatica SC', cursive
    font-weight 700

anotherHand(size)
    font-size size + 0px
    font-family 'Just Another Hand', cursive
    font-weight 400

opensans(size, weight = normal, style = normal)
    font-size size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-style style
    font-weight 400
    if weight == bold
        font-weight 700
