.areas-de-atuacao
    &__index
    &__show
    &__outras
        .center
            clearfix()
    &__index
        margin 75px 0 75px
        +tablet()
            margin 7.55% 0 7.5%
        +mobile()
            margin 10% 0 10%
        a
            display block
            width $pct(280)
            float left
            margin 0 $pct(260/6) $pct(260/6)
            text-align center
            img
                max-width 100%
                height auto
                vertical-align top
            span
                display block
                color $cinzaClaro
                amatica 28
                transition color .3s
            &:hover
                span
                    color $azul
            +mobile()
                width 100%
                margin 0 0 10%
                span
                    font-size 24px
    &__outras
        background-image linear-gradient(0deg, #fff 0%, #fff 70%, #EFEFEF 100%)
        padding 40px 0
        text-align center
        p
            margin 0 0 20px
            color $azul
            amatica 24
        a
            display block
            width 20%
            float left
            padding 0 1%
            img
                max-width 100%
                height auto
                vertical-align top
            span
                display block
                color $cinzaClaro
                amatica 20
                transition color .3s
            &:hover
                span
                    color $azul
        +mobile()
            padding 5% 0
            p
                font-size 20px
            a
                width 50%
                margin-bottom 3%
                padding 0 2%
    &__aside
        width $pct(220)
        float left
        margin-bottom 30px
        img
            max-width 100%
            display block
        a
            display block
            color $cinzaClaro
            text-transform lowercase
            opensans 12 bold
            margin-bottom 8px
            &:last-child
                margin-bottom 0
            &:hover
            &.active
                color $azul
    &__text
        width $pct(840)
        float right
        img
            max-width 100%
            height auto
            vertical-align top
        a
            color $azul
            text-decoration underline
            &.areas-de-atuacao-link
                display inline-block
                margin 1em 0
                padding 5px 35px 9px 15px
                border-radius 4px
                transition background .3s
                text-decoration none
                color #fff
                amatica 18
                line-height 1
                position relative
                background #94D253
                &:after
                    content ''
                    position absolute
                    width 10px
                    height 100%
                    top 0
                    right 12px
                    background $img('seta-saibamais.png') no-repeat center
                &:hover
                    background-color $azul
    &__subcategorias
        margin-top 1em
        .subcategoria
            + .subcategoria .subcategoria__handle
                border-top none
            &__handle
                display block
                background #fff
                anotherHand 24
                text-decoration none
                border-top 1px solid lighten($cinzaClaro, 25)
                border-bottom 1px solid lighten($cinzaClaro, 25)
                padding 16px 40px 8px 10px
                transition background .3s
                position relative
                &:after
                    content ''
                    position absolute
                    width 14px
                    height 100%
                    top 0
                    right 12px
                    background $img('mais.png') no-repeat center
                svg
                h2
                    display inline-block
                svg
                    width 17px
                    height auto
                    vertical-align top
                    margin-right 8px
                h2
                    margin 0
                    line-height 1
                    transition all .3s
                &:hover
                    h2
                        padding-left 5px
                &.active
                    h2
                        color #fff
                    &:after
                        background-image $img('menos.png')
            &__content
                display none
                border-bottom 1px solid lighten($cinzaClaro, 25)
                padding-bottom 20px
                .areas-de-atuacao-subtitulo
                    anotherHand 20
                    text-transform uppercase
                    margin 1.5em 0 -.2em
                    padding-top .5em
                    &:first-child
                        border none
                        margin-top 1em
                        padding 0
    &__text-wrapper
        width $pct(650)
    +below($tablet)
        &__text-wrapper
            width 100%
    +tablet()
        &__aside
            width 25%
            margin-bottom 20px
        &__text
            width 70%
            margin-right 0
    +mobile()
        &__aside
            width 100%
            margin-bottom 30px
            &:last-child
                margin 0
        &__text
            width 100%
            margin-right 0
            margin-bottom 20px
