.banners
    width 100%
    margin 0
    position relative
    .cycle-pager
        width 100%
        text-align center
        position absolute
        bottom 55px
        z-index 101
        +below($tablet)
            display none
        a
            display inline-block
            width 12px
            height 12px
            border 2px solid $cinzaEscuro
            text-indent -9999px
            margin 0 3px
            border-radius 100%
            transition background .3s
            &.cycle-pager-active
                background $cinzaEscuro
    .banner
        width 100%
        padding-top 120px
        &__titulo
            anotherHand 130
            text-transform none
            margin 0
            line-height 1
        &__imagem
            position absolute
            right -40px
            top -20px
            z-index 2
        &__gradient-wrapper
            position relative
            padding-top 15px
            height 320px
        &__gradient
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            opacity .2
        &__textos
            max-width $pct(430)
        &__subtitulo
            margin 0 0 20px
            amatica 30
            letter-spacing -2px
            text-transform none
        &__texto
            margin 0
            opensans 16
            color $cinzaEscuro
        +below($tablet)
            padding-top 5%
            text-align center
            &__imagem
                position relative
                right auto
                bottom auto
                top 0
                left 50%
                transform translateX(-50%)
                max-width 100%
                height auto
                display block
                margin-bottom 5%
            &__gradient-wrapper
                height auto
            &__textos
                width 100%
                max-width none
                padding-bottom 10%
        +mobile()
            padding-top 8%
            &__titulo
                font-size 80px
            &__subtitulo
                font-size 24px
            &__texto
                font-size 14px
