.contato
    clearfix()
    &__col
        width $pct(450)
        float left
        & + &
            width $pct(550)
            float right
    &__info
        margin-bottom 30px
        a:hover
            text-decoration underline
    &__mapa
        iframe
            width 100%
            height 285px
    &__form
        input
        select
        textarea
            width 100%
            text-transform lowercase
            background #F0F0F0
            outline 0
            border 0
            display block
            margin-bottom 3px
            opensans 12
            height 2em
            line-height 2
            +placeholder()
                color $azul
        input
        select
        textarea
            padding 2px 8px
            border-radius 0
            color $azul
        textarea
            resize none
            height 150px
        label
            display block
            opensans 12
            color $azul
            padding-left 20px
            min-height 20px
            position relative
            line-height 1
            margin 12px 0 5px
            cursor pointer
            input
                position absolute
                line-height normal
                width auto
                height auto
                margin 0
                left 0
        input[type='submit']
            border-radius 3px
            background $cinzaClaro
            color #fff
            line-height 1
            height auto
            padding 12px
            text-transform uppercase
            opensans 14
            transition background .3s
            &:hover
                background $azul
        #form-contato-response
            display none
            border 1px solid $azul
            opensans 12 bold
            text-transform uppercase
            text-align center
            color $azul
            border-radius 4px
            margin-top .5em
            padding 1em
    +mobile()
        &__col
            width 100%
            margin-bottom 30px
        &__col + &__col
            width 100%
            margin-bottom 0
        &__info
            margin-bottom 30px
        &__mapa iframe
            height 200px
