.footer
    background #E6E6E6
    color $cinzaClaro
    padding 15px 0
    .center
        clearfix()
        height 100%
    &__col-wrapper
        display flex
        justify-content space-between
    &__col
        float left
        margin-right 30px
        &--links
            border-left 2px solid lighten($cinzaClaro, 15)
            padding-left 6px
        &--informacoes
        &--copyright
            p
                color $cinzaClaro
                opensans 10
                margin .5em 0 0
            a:hover
                color $azul
        &--copyright
            float right
            margin-right 0
            p
                margin 0
    &__link
        display block
        opensans 10
        margin-bottom 3px
        &:hover
            color $azul
        &--titulo
            text-transform uppercase
            font-weight bold
        &--box
            border 1px solid $cinzaClaro
            padding 4px
            text-align center
            &.first
                margin-top 10px
    +below($tablet)
        &__col-wrapper
            display block
        &__col
            width 100%
            margin 0
            float left
            clear left
            text-align center
            &--links
                border 0
            &--copyright
                margin-top 15px
        &__link
            display none
            &--box
                display inline-block
                margin-bottom 5px
        &__col--informacoes
            margin-top 20px
