.header
    width 100%
    height 110px
    background #fff
    box-shadow 0 -5px 60px rgba($cinzaClaro, .4)
    +below($tablet)
        height 85px
    .center
        clearfix()
        height 100%
        position relative
    &__logo
        display block
        float left
        width 200px
        height 100%
        text-indent -9999px
        background $img('liotecnica.png') no-repeat center
        +mobile()
            width 160px
            background-size 100% auto
    &__nav
        float left
        position relative
        top 50%
        transform translateY(-50%)
        margin-left 45px
        font-size 0
        +below($tablet)
            display none
        a
            opensans 13 bold
            text-transform lowercase
            color $cinzaClaro
            margin-right 13px
            &:hover
            &.active
                color $azul
            &.social
                width 16px
                height 16px
                display inline-block
                text-indent -9999px
                position relative
                margin-right 4px
                vertical-align bottom
                &--facebook
                    background $img('facebook.png') no-repeat center
                &--linkedin
                    background $img('linkedin.png') no-repeat center
    &__lang
        float right
        position relative
        top 50%
        transform translateY(-50%)
        font-size 0
        .lang__icon
            display inline-block
            width 20px
            height 16px
            text-indent -9999px
            position relative
            margin-left 4px
            vertical-align bottom
            +mobile()
                display block
                margin 0
                &:first-child
                    margin-bottom 4px
            &--pt
                background $img('lang-pt.png') no-repeat center
            &--en
                background $img('lang-en.png') no-repeat center
            &--es
                background $img('lang-es.png') no-repeat center
    .mobile
        &__nav
            +above($tablet)
                display none !important
            display none
            position absolute
            width 100%
            background rgba($azul, .95)
            border-bottom 4px solid darken($azul, 5)
            padding 20px 0 25px
            text-align center
            z-index 106
            a
                display block
                color #fff
                opensans 14 bold
                text-transform lowercase
                text-decoration none
                padding 5px 0
                &.active
                    color $cinzaClaro
                &.social
                    width 16px
                    height 16px
                    display inline-block
                    text-indent -9999px
                    position relative
                    margin-right 4px
                    vertical-align bottom
                    margin-top 20px
                    &--facebook
                        background $img('facebook.png') no-repeat center
                    &--linkedin
                        background $img('linkedin.png') no-repeat center
        &__toggle
            +above($tablet)
                display none
            display block
            background-color transparent
            border 0
            position relative
            float right
            height 100%
            width 30px
            outline 0
            padding 0
            margin-left 30px
            +mobile()
                margin-left 20px
            .lines
                display block
                width 100%
                height 4px
                background $azul
                position relative
                transition .3s ease
                border-radius 2px
                &:before
                &:after
                    content ""
                    display block
                    position absolute
                    left 0
                    width 100%
                    height 4px
                    border-radius 2px
                    background $azul
                    transition .3s ease
                &:before
                    top 8px
                &:after
                    top -8px
            &.close
                .lines
                    background transparent
                    &:before
                    &:after
                        transform-origin 50% 50%
                        top 0
                    &:before
                        transform rotate3d(0,0,1,45deg)
                    &:after
                        transform rotate3d(0,0,1,-45deg)
