.institucional
    clearfix()
    &__aside
        width $pct(310)
        float left
        margin-bottom 30px
        clear left
        img
            max-width 100%
            display block
        a
            display block
            color $cinzaClaro
            text-transform lowercase
            opensans 12 bold
            margin-bottom 8px
            &:last-child
                margin-bottom 0
            &:hover
            &.active
                color $azul
    &__text
        width $pct(650)
        float right
        margin-right $pct(100)
        a
            font-weight bold
        .responsabilidade-box
            background #F0F0F0
            padding 1.25em
            border-radius 4px
            margin 2em 0 .4em
            & + .responsabilidade-box
                margin-top .4em
        .tecnologias-infografico
            margin 1em 0 0
            display block
            max-width 100%
            height auto
    .text__col
        width 47.5%
        float left
        margin 2% 5% 5% 0
        &--clear
            clear left
            + .text__col
                margin-right 0
    +tablet()
        &__aside
            width 35%
            margin-bottom 20px
        &__text
            width 60%
            margin-right 0
    +mobile()
        &__aside
            width 100%
            margin-bottom 30px
            &:last-child
                margin 0
        &__text
            width 100%
            margin-right 0
            margin-bottom 20px
    +below($tablet)
        .text__col
            width 100%
            margin 15px 0 20px
