.not-found
    width 100%
    padding 150px 0
    text-align center
    +below($tablet)
        padding 12.5% 0
    &__message
        display inline-block
        border 2px solid $cinzaClaro
        padding 1.2em
        border-radius 4px
        opensans 12 bold
        text-transform uppercase
        color $cinzaEscuro
