.trabalhe-conosco
    clearfix()
    &__aside
        width $pct(550)
        float right
        img
            max-width 100%
            display block
    &__text
        width $pct(500)
        float left
        a.botao
            display inline-block
            margin 1em 0
            padding 5px 35px 9px 15px
            border-radius 4px
            transition background .3s
            text-decoration none
            color #fff
            amatica 18
            line-height 1
            position relative
            background #94D253
            &:after
                content ''
                position absolute
                width 10px
                height 100%
                top 0
                right 12px
                background $img('seta-saibamais.png') no-repeat center
            &:hover
                background-color $azul
    +tablet()
        &__aside
            width 35%
        &__text
            width 60%
    +mobile()
        &__aside
            width 100%
            margin-top 30px
        &__text
            width 100%
